/*------------------------------------------------------------
btn
------------------------------------------------------------*/

/*
------------------------------------------------------------*/
.c-btn {
    display: block;
    padding: 14px 0 13px;
    font-size: 1.6rem;
    border: 1px solid $green;
    border-radius: 30px;
    line-height: 1;
    background-color: $white;
    max-width: 300px;
    width: 100%;
    text-align: center;
    font-family: $sub-font;
    font-weight: 500;
    font-size: 1.8rem;
    letter-spacing: 0;
    line-height: 1.8;
    color: $green;
    position: relative;

    &:hover {
        opacity: 1;

        &::after {
            right: calc(33px - 5%);
        }
    }

    @include sp {
        max-width: 335px;
        padding: 13px 0 12px;
    }

    &::after {
        content: "";
        display: inline-block;
        background-image: url("./assets/img/arrow.svg");
        background-repeat: no-repeat;
        background-size: contain;
        width: 10px;
        height: 12px;
        position: absolute;
        right: 33px;
        top: 40%;

        @include sp {
            right: 52.5px;
            top: 41%;
        }
    }
}

.c-backtotop {    
    position: fixed;
    right: 20px;
    z-index: 2;
    /*はじめは非表示*/
    opacity: 0;
    transform: translateY(100px);
    cursor: pointer;

    &:hover {
        opacity: 0.7;
    }

    .c-backtotop__text {
        line-height: 1.75;
        letter-spacing: 1.1px;
        font-family: $sub-font;
        font-weight: 500;
        color: $green;
        text-align: center;
        text-transform: uppercase;
        text-decoration: none;
        font-size: 1.4rem;
        padding-top: 16px;
        padding-left: 10px;
    }

    .c-backtotop__link {
        transition: all 0.3s;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $white;
        border-radius: 50%;
        width: 60px;
        height: 60px;
        border: 1px solid $green;

        @include sp {
            width: 44px;
            height: 44px;
            text-indent: -9999px;
        }

        &::after {
            content: "";
            display: block;
            position: relative;
            transform: translate(-50%, -50%);
            top: -15%;
            left: -33%;
            background-image: url("./assets/img/arrow.svg");
            background-repeat: no-repeat;
            background-size: contain;
            width: 10px;
            height: 12px;
            transform: rotate(-90deg);
    
            @include sp {
                width: 10px;
                height: 11px;
                top: -4%;
                left: -12%;
            }
        }

    
    }

    &.is-up {
        animation: UpAnime 0.5s forwards;
    }

    &.is-down {
        animation: DownAnime 0.5s forwards;
    }
}
