/*------------------------------------------------------------
btn
------------------------------------------------------------*/

/*
------------------------------------------------------------*/
.c-btn {
    display: block;
    padding: 14px 0 13px;
    font-size: 1.6rem;
    border: 1px solid $green;
    border-radius: 30px;
    line-height: 1;
    background-color: $white;
    max-width: 300px;
    width: 100%;
    text-align: center;
    font-family: $sub-font;
    font-weight: 500;
    font-size: 1.8rem;
    letter-spacing: 0;
    line-height: 1.8;
    color: $green;
    position: relative;

    &:hover {
        opacity: 1;

        &::after {
            right: calc(33px - 5%);
        }
    }
    @include sp {
        max-width: 335px;
        padding: 13px 0 12px;
    }

    &::after {
        content: "";
        display: inline-block;
        background-image: url("./assets/img/arrow.svg");
        background-repeat: no-repeat;
        background-size: contain;
        width: 10px;
        height: 12px;
        position: absolute;
        right: 33px;
        top: 40%;
        @include sp {
            right: 52.5px;
            top: 41%;
        }
    }
}

.c-backtotop {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 1px solid $green;
    font-family: $sub-font;
    font-weight: 500;
    font-size: 1.4rem;
    letter-spacing: 1.1px;
    line-height: 1.75;
    text-align: center;
    color: $green;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.3s;
    padding-top: 21px;
    padding-left: 10px;
    z-index: 3;
    @include sp {
        width: 44px;
        height: 44px;
        text-indent: -9999px;
        right: 25px;
        bottom: 100px !important;
    }

    &::after {
        content: "";
        display: block;
        position: relative;
        transform: translate(-50%, -50%);
        top: -46%;
        left: -42%;
        background-image: url("./assets/img/arrow.svg");
        background-repeat: no-repeat;
        background-size: contain;
        width: 10px;
        height: 12px;
        transform: rotate(-90deg);
        @include sp {
            width: 10px;
            height: 11px;
            top: -55%;
            left: -16%;
        }
    }

    &.is-up {
        animation: UpAnime 0.5s forwards;
    }

    &.is-down {
        animation: DownAnime 0.5s forwards;
    }
}
