.c-fixed {
    display: none;

    @include sp {
        display: none;
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        z-index: 4;

    }

    &.is-fixed {
        display: block;
    }

    .c-fixed__main {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .c-fixed__item {
        display: block;
        background-color: $green;
        color: $white;
        width: 33%;
        text-align: center;
        font-family: $sub-font;
        font-size: 1.5rem;
        letter-spacing: -0.6px;
        font-weight: 500;
        line-height: 1.75;
        display: flex;
        flex-direction: column;
        height: 80px;

        &:first-child {
            .c-fixed__wrapicon {
                height: 38px;
                width: 19px;
                margin: 10px auto 0;
            }
        }

        &:nth-child(2) {
            .c-fixed__wrapicon {
                width: 26px;
                height: 26px;
            }
        }

        &:last-child {
            .c-fixed__wrapicon {
                width: 33px;
                height: 26px;
            }
        }
    }

    .c-fixed__wrapicon {
        margin: 16px auto 7px;
    }

    .c-fixed__icon {
        height: 100%;
        width: 100%;
    }
}
