/*------------------------------------------------------------
video
------------------------------------------------------------*/

/*
------------------------------------------------------------*/
.slick-dots {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    top: 68.8%;
    left: -3.4%;
    transform: translateX(-50%);
    @include tab {
        left: -27px;
    }
    @include sp {
        top: 76.5%;
        left: -21px;
    }

    li {
        margin: 10.5px 0;
        @include sp {
            margin: 7.5px 0;
        }
    }

    button {
        cursor: pointer;
        display: block;
        width: 10px;
        height: 10px;
        padding: 0;
        border-radius: 50%;
        background-color: #afafaf;
        text-indent: -9999px;
        border: none;

        &:hover {
            opacity: 0.7;
            background-color: $green;
        }
        @include sp {
            width: 5px;
            height: 5px;
        }
    }

    li.slick-active button {
        background-color: $green;

        &:hover {
            opacity: 1;
        }
    }
}
