/*------------------------------------------------------------
video
------------------------------------------------------------*/

/*
------------------------------------------------------------*/
.slick-dots {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    top: 73%;
    left: -3.7%;

    li {
        margin: 10.5px 0;
    }

    button {
        display: block;
        width: 10px;
        height: 10px;
        padding: 0;
        border-radius: 50%;
        background-color: #afafaf;
        text-indent: -9999px;
        border: none;        
    }

    li.slick-active button {
        background-color: $green;
    }
}
