.c-mainvisual {
    display: flex;
    justify-content: flex-end;
    padding-left: 220px;
    height: calc(100vh - 100px);

    @include tab {
        padding-left: 64px;
    }

    @include sp {
        padding-left: 41px;
    }

    .c-mainvisual__main {
        width: 100%;
        position: relative;
    }

    .c-mainvisual__slider {
        width: 100%;
    }

    .c-mainvisual__slide {
        background-repeat: no-repeat;
        background-size: cover;
        height: calc(100vh - 100px);
        border-radius: 20px 0 0 20px;

        @include sp {
            border-radius: 10px 0 0 10px;
            height: calc(100vh - 60px);
        }
    }

    .c-mainvisual__slidemain {
        background-image: url("./assets/img/main1.jpg");

        @include sp {
            background-image: url("./assets/img/main1sp.jpg");
        }
    }

    .c-mainvisual__slidemiddle {
        background-image: url("./assets/img/main2.jpg");

        @include sp {
            background-image: url("./assets/img/main2sp.jpg");
        }
    }

    .c-mainvisual__slideend {
        background-image: url("./assets/img/main3.jpg");

        @include sp {
            background-image: url("./assets/img/main3sp.jpg");
        }
    }

    .c-mainvisual__inner {
        position: absolute;
        top: 77.9%;
        left: 51%;
        transform: translate(-50%, -50%);
        display: flex;
        justify-content: space-between;
        max-width: 1464px;
        width: 98%;
        margin: 0 auto;
        z-index: 1;

        @include tab {
            flex-direction: column;
            max-width: 960px;
            top: 70.9%;
        }

        @include sp {
            top: 89%;
            left: 50%;
            max-width: 310px;
        }
    }

    .c-mainvisual__title {
        display: flex;
        flex-direction: column;
        width: 45%;
    }

    .c-mainvisual__txt {
        font-family: $sub-font;
        font-weight: 700;
        font-size: 3.6rem;
        letter-spacing: 2.9px;
        line-height: 1;
        color: $white;
        background-color: $green;
        position: relative;
        width: max-content;
        margin-bottom: 20px;
        display: block;
        padding: 13px 0 12px 21px;
        font-feature-settings: "palt" 1;

        @include laptop {
            font-size: 3rem;
        }

        @include tab {
            font-size: 2rem;
            letter-spacing: 1.5px;
            line-height: 2.3;
            padding: 5px 0 5px 13px;
            margin-bottom: 18px;
        }

        @include sp {
            font-size: 1.8rem;
            padding: 0 0 0 10px;
            margin-bottom: 11px;
            line-height: 1.7;
        }

        &::after {
            content: "";
            display: block;
            position: absolute;
            top: 13px;
            left: 8px;
            width: 100%;
            height: 94%;
            background-color: $white;
            z-index: -1;

            @include sp {
                top: 4px;
                left: 4px;
                height: 99%;
            }
        }
    }

    .c-mainvisual__news {
        max-width: 520px;
        width: 58%;
        border-radius: 30px;
        background-color: $white;
        padding: 1% 2.7% 0.8%;
        font-feature-settings: "palt" 1;
        display: flex;
        justify-content: space-between;
        position: absolute;
        right: 0;
        bottom: 13px;

        @include laptop {
            width: 50%;
        }

        @include tab {
            width: 90%;
            position: relative;
            margin-top: 30px;
            max-width: 345px;
        }

        @include sp {
            padding: 10px 1px 7px 15px;
            margin-top: 27px;
            width: 95%;
        }

        &:hover {
            opacity: 1;

            &::after {
                right: -5%;
            }
        }

        &::after {
            content: "";
            display: inline-block;
            background-image: url("./assets/img/arrow.svg");
            background-repeat: no-repeat;
            background-size: contain;
            width: 10px;
            height: 12px;
            position: relative;
            right: 0;
            top: 8px;

            @include tab {
                top: 5px;
            }

            @include sp {
                right: 16px;
            }
        }
    }

    .c-mainvisual__type {
        font-family: $sub-font;
        font-weight: 500;
        font-size: 1.6rem;
        letter-spacing: 1.3px;
        line-height: 1.8;
        color: $green;

        @include laptop {
            font-size: 1.3rem;
            letter-spacing: 0;
            line-height: 1.75;
        }
    }

    .c-mainvisual__date {
        font-family: $main-font;
        font-weight: 500;
        font-size: 1.6rem;
        letter-spacing: 0;
        line-height: 2;
        color: $black;
        margin-left: -8px;

        @include laptop {
            font-size: 1.3rem;
            line-height: 1.75;
        }
        @include sp {
            margin-left: -4px;
        }
    }

    .c-mainvisual__post {
        color: $black;
        font-family: $main-font;
        font-weight: 500;
        font-size: 1.6rem;
        line-height: 2;
        letter-spacing: 1.6px;
        transform: translateX(-5px);

        @include laptop {
            font-size: 1.3rem;
            line-height: 1.75;
        }
        @include sp {
            transform: translateX(-3px);
        }
    }

    .c-mainvisual__scroll {
        position: relative;
        top: 84.8%;
        left: 0;
        padding-left: 3.8%;
        transition: all 3s;
        transform: translateX(-50%);

        @include laptop {
            padding-left: 1.9%;
        }

        @include tab {
            padding-left: 0;
        }

        @include sp {
            left: 1.8%;
            top: 88.3%;
        }

        &::after {
            content: "";
            display: block;
            width: 1px;
            height: 50px;
            position: relative;
            background-color: $green;
            top: -3px;
            left: 40%;
            transform: translateX(-50%);
            animation: pathmove 1.4s ease-in-out infinite;
        }
    }

    .c-mainvisual__btntxt {
        font-family: $sub-font;
        font-weight: 500;
        font-size: 1.4rem;
        letter-spacing: 1.1px;
        line-height: 1.8;
        color: black;
        writing-mode: vertical-rl;
    }
}
