.c-service {
    background-image: url("./assets/img/bg-section3.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    @include sp {
        background-image: url("./assets/img/bgsection3sp.jpg");
    }

    .c-service__main {
        padding: 219px 0;
        @include sp {
            padding: 109px 0;
        }
    }

    .c-service__titlesp {
        @include sp {
            margin-left: 13px;
        }
    }

    .c-service__title {
        margin-left: 17px;
        @include sp {
            font-size: 2.6rem;
            line-height: 1.5;
            letter-spacing: 2px;
            margin-left: -1px;
        }

        &::after {
            background-image: none;
        }
    }

    .c-service__wrapimg {
        margin-top: 37px;
        border-radius: 10px;
        @include sp {
            margin-top: 42px;
            text-align: center;
        }
    }

    .c-service__img {
        border-radius: 10px;
    }

    .c-service__desc {
        font-family: $main-font;
        font-weight: 500;
        font-size: 1.6rem;
        letter-spacing: 0;
        line-height: 1.75;
        color: $black;
        margin-top: 35px;
        @include sp {
            margin: 34px auto 0;
            max-width: 335px;
        }
    }

    .c-service__btns {
        display: flex;
        justify-content: space-between;
        max-width: 662px;
        margin: 35px auto 0;
        @include sp {
            flex-direction: column;
            margin: 35px auto 0;
        }
    }

    .c-service__btn {
        @include sp {            
            margin: 0 auto 20px;
            font-feature-settings: "palt" 1;
        }
    }
}
