.c-feature {
    .c-feature__main {
        margin-top: 93px;
        @include sp {
            margin-top: 73px;
        }
    }

    .c-feature__list {
        display: flex;
        justify-content: space-between;
        margin-top: 53px;
        @include sp {
            flex-direction: column;
            margin-top: 55px;
        }
    }

    .c-feature__item {
        max-width: 380px;
        width: 31.8%;
        display: block;
        @include sp {
            width: 100%;
            margin: 0 auto;
            margin-bottom: 44px;
        }
        

        &:first-child {                
            @include sp {
                .c-feature__desc {
                    padding-right: 10px;
                }
            }
        }

        &:nth-child(3) {
            .c-feature__number {
                margin-right: 21px;
                @include sp {
                    margin-right: 9px;
                }
            }

            .c-feature__titleitem {
                letter-spacing: 0;
                @include sp {
                    letter-spacing: 1.9px;
                }
            }
        }
    }

    .c-feature__wrapimg {
        border-radius: 10px;
    }

    .c-feature__img {
        border-radius: 10px;
    }

    .c-feature__info {
        padding-top: 27px;
        @include sp {
            padding-top: 19px;
        }
    }

    .c-feature__titleitem {
        font-family: $sub-font;
        font-weight: 500;
        font-size: 2.4rem;
        letter-spacing: 2px;
        line-height: 1.8;
        color: $green;
        @include sp {
            font-size: 2.2rem;
            text-align: center;
        }
    }

    .c-feature__number {
        display: inline-block;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: $green;
        color: $white;
        font-family: $sub-font;
        font-weight: 500;
        font-size: 2.4rem;
        letter-spacing: 2px;
        line-height: 1.5;
        text-align: center;
        margin-right: 9px;
        @include sp {
            font-size: 2.2rem;
            letter-spacing: 2px;
            margin-right: 1px;
            width: 38px;
            height: 38px;
            transform: translateY(-2px);
            margin-right: 3px;
        }
    }

    .c-feature__desc {
        margin-top: 26px;
        color: $black;
        font-family: $main-font;
        font-size: 1.6rem;
        font-weight: 500;
        letter-spacing: 0;
        line-height: 1.75;
        @include sp {
            margin-top: 13px;
        }
    }
}
