.c-home {
    background-image: url("./assets/img/bg-section5.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 100px;
    padding: 11.7% 0 12%;

    .c-home__main {
        display: flex;
    }

    .c_home__left {
        width: 50%;
    }

    .c-home__img {
        position: relative;
        transform: translateY(-50%);
        top: 53.6%;
    }

    .c-home__right {
        width: 50%;
        padding-left: 51px;
    }

    .c-home__top {
        margin-top: 45px;
    }

    .c-home__heading {
        font-family: $sub-font;
        font-weight: 500;
        font-size: 2.4rem;
        letter-spacing: 2px;
        line-height: 1.8;
        color: $green;
    }

    .c-home__text {
        color: $black;
        font-family: $main-font;
        font-size: 1.6rem;
        line-height: 1.75;
        font-weight: 500;
        letter-spacing: 0;
        margin-top: 24px;
    }

    .c-home__edit {
        margin-left: -8px;
    }

    .c-home__box {
        background-color: $white;
        border-radius: 10px;
        padding: 15px 43px;
        color: $black;
        font-weight: 500;
        line-height: 1.75;
        margin-top: 22px;
    }

    .c-home__boxleft {
        font-family: $sub-font;
        font-size: 1.8rem;
        letter-spacing: 1.4px;
        margin-right: 25px;
    }

    .c-home__boxright {
        font-family: $main-font;
        font-size: 1.6rem;
        letter-spacing: 0;
    }

    .c-home__bottom {
        margin-top: 62px;

        &>.c-home__heading {
            margin-left: -4px;
        }
    }

    .c-home__list {
        margin-top: 32px;
        background-color: $white;
        border-radius: 9px;
        padding: 21px 42px 25px;
    }

    .c-home__item {
        color: $black;
        font-family: $sub-font;
        font-weight: 500;
        font-size: 1.6rem;
        letter-spacing: 1.3px;
        line-height: 1.7;
        margin-bottom: 6px;

        &:last-child {
            margin-bottom: 0;
        }

        &::before {
            font-family: "Font Awesome 5 Free";
            content: "\f14a";
            font-size: 1.9rem;
            display: inline-block;
            width: 16px;
            height: 16px;
            color: $green;
            border-radius: 3px;
            margin-right: 21px;
            position: relative;
            top: 3px;
            left: 1px;
        }
    }

    .c-home__btn {
        margin-top: 43px;
        padding: 12px 0 15px;
    }

    .c-home__slides {
        margin-top: 100px;
        padding: 0 13px;        
    }

    .c-home__wrapimg {
        margin: 0 15px;
        max-width: 286px;
        width: 100%;
        border-radius: 10px;
    }

    .c-home__slide {
        border-radius: 10px;
    }

    .c-home__scroll {
        background: -webkit-linear-gradient(left, rgb(255, 218, 77) 50%, transparent 50%);
        background: -moz-linear-gradient(left, rgb(255, 218, 77) 50%, transparent 50%);
        background: linear-gradient(left, rgb(255, 218, 77) 50%, transparent 50%);
        background-repeat: no-repeat;
        background-size: 200% 4px;
        background-position: 100% 100%;
        transition: 2s;

        &.is-active {
            background-position: 0 100%;
        }
    }
}
