//baseWidth

$main-font: "游ゴシック",sans-serif;
$sub-font: "Zen Maru Gothic", sans-serif;

//color common
$white: #fff;
$sub-green: #8ec43c;
$green: #78c53c;
$black: #333;
$gray: #c9c9c9;
$yellow: #ffda4d;
