/*------------------------------------------------------------
footer
------------------------------------------------------------*/
.c-footer {
    padding: 20px;
    background: $green;
    color: #fff;
    text-align: center;
    .c-footer__logo{
        width: 47px;
    }
    .c-footer__slogan{
        display: inline-block;
        font-family: $sub-font;
        font-weight: 500;
        font-size: 2.2rem;
        letter-spacing: 0;
        line-height: 1.75;
        margin-left: 5px;
    }
}
