/* Header
------------------------------------------------------------*/
.c-header {
    position: relative;
    background: $white;
    width: 100%;

    &.is-scroll {
        position: fixed;
        top: 0;
        left: 0;
        box-shadow: 0 0 1px rgba(0, 0, 0, 0.2);
        z-index: 10;

        &::after {
            height: 0;
        }

        &>.c-header__main .c-header__left {
            padding-left: 50px;
        }
    }

    &::after {
        content: "";
        position: absolute;
        width: 100%;
        display: block;
        height: 216%;
        top: -3%;
        left: 0;
        z-index: -1;
        background-image: url("./assets/img/bg-header.png");
        background-repeat: no-repeat;
        background-size: cover;
    }

    .c-header__main {
        width: 100%;
        margin-right: auto;
        display: flex;
        justify-content: space-between;
        padding: 0 35px 0 34px;
        height: 100px;
    }

    .c-header__left {
        flex: 0 0 460px;
        width: 24.8%;
        display: flex;
        justify-content: space-between;
        padding: 24px 10px 20px 0;
    }

    .c-header__logo {
        margin-top: 4.3%;
        width: 151px;
        flex: 0 0 151px;

        &.is-scroll {
            margin-top: 0;
            width: 120px;
            flex: 0 0 120px;

            &>.c-header__logoimg {
                height: 71px;
            }
        }
    }

    .c-header__slogan {
        font-family: $sub-font;
        font-size: 1.8rem;
        font-weight: 500;
        letter-spacing: 0;
        color: $sub-green;
        margin-top: 17px;
    }

    .c-header__nav {
        width: 36%;
        padding: 12px 10px;
        flex: 1;
        max-width: 672px;
        margin-left: -13px;
    }

    .c-header__menu {
        display: flex;
        justify-content: space-between;
    }

    .c-header__item {
        padding: 16px 0;
        cursor: pointer;
    }

    .c-header__icon {
        width: 24px;
        height: 24px;
        display: block;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        margin-bottom: 2px;
    }

    .c-header__link {
        color: $black;
        font-family: $sub-font;
        font-weight: 500;
        font-size: 1.6rem;
        letter-spacing: 1px;
        font-feature-settings: "palt" 1;
        line-height: 1.8;
        text-align: center;

        &:hover {
            opacity: 1;

            &>.c-header__icon {
                margin-top: -5px;
                margin-bottom: 7px;
            }
        }
    }

    .c-header__taxi {
        &>.c-header__link .c-header__icon {
            width: 28px;
            height: 22px;
            margin-bottom: 4px;
        }

        &:hover {
            &>.c-header__link .c-header__icon {
                margin-top: -5px;
                margin-bottom: 9px;
            }
        }
    }

    .c-header__message {
        &>.c-header__link .c-header__icon {
            width: 28px;
            height: 24px;
        }
    }

    .c-header__right {
        width: 24.4%;
        padding: 1px 0;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        flex-wrap: wrap;
    }

    .c-header__btn {
        display: inline-block;
        max-width: 199px;
        width: 61.5%;
        border: 1px solid $green;
        border-radius: 25px;
        text-align: center;
        padding: 6px 0;
        margin-top: 2px;
        position: relative;

        &:hover {
            opacity: 1;

            &::after {
                right: calc(20px - 5%);
            }
        }

        &::after {
            content: "";
            display: inline-block;
            background-image: url("./assets/img/arrow.svg");
            background-repeat: no-repeat;
            background-size: contain;
            width: 10px;
            height: 12px;
            position: absolute;
            right: 20px;
            top: 50%;
            transform: translateY(-50%);
        }
    }

    .c-header__txt {
        color: $green;
        font-family: $sub-font;
        font-size: 1.8rem;
        letter-spacing: 0;
        font-weight: 500;
        font-feature-settings: "palt" 1;
    }

    .c-header__tel {
        display: inline-block;
        font-family: $sub-font;
        font-weight: 500;
        font-size: 2rem;
        line-height: 1.8;
        letter-spacing: 1.6px;
        color: $green;

        &::before {
            content: "";
            display: inline-block;
            background-image: url("./assets/img/phone.svg");
            background-repeat: no-repeat;
            background-size: contain;
            width: 20px;
            height: 20px;
            position: relative;
            left: 18px;
            top: 2px;
            margin-right: 29px;
        }
    }
}

/* Main menu
------------------------------------------------------------*/
