<%- include('_layouts/layout', { title: 'Home page' }); -%>

  <!-- @meta -->
  <meta name="description" content="Home page">
  <!-- @@meta -->

  <!-- @content -->
  <main class="p-top">
    <!-- start section mainvisual  -->
    <section class="c-mainvisual">
      <div class="c-mainvisual__scroll"><a href="#notify" class="c-mainvisual__btntxt">scroll</a></div>
      <div class="c-mainvisual__main">
        <div class="c-mainvisual__inner">
          <h2 class="c-mainvisual__title">
            <span class="c-mainvisual__txt">私たちは、<br></span>
            <span class="c-mainvisual__txt">患者様に寄り添う医療を提供し、<br></span>
            <span class="c-mainvisual__txt">地域に貢献します。</span>
          </h2>  
          <div class="c-mainvisual__news">
            <a href="#" class="c-mainvisual__type">最新のお知らせ</a>
            <a href="#" class="c-mainvisual__date">2023.00.00</a>
            <a href="#" class="c-mainvisual__post">テキストテキストテキテキスト…</a>
          </div>          
        </div>         
        <div class="c-mainvisual__slider">
          <div class="c-mainvisual__slide c-mainvisual__slidemain"></div>
          <div class="c-mainvisual__slide c-mainvisual__slidemiddle"></div>
          <div class="c-mainvisual__slide c-mainvisual__slideend"></div> 
        </div>      
      </div>      
    </section>
<!-- end section mainvisual  -->
<!-- start section notification  -->
<%- include('_partials/notify'); -%>
<!-- end section notification  -->
<!-- start section service  -->
<%- include('_partials/service'); -%>
<!-- end section service  -->
<!-- start section feature  -->
<%- include('_partials/feature'); -%>
<!-- end section feature  -->
<!-- start section home  -->
<%- include('_partials/home'); -%>
<!-- end section home  -->
<!-- start section info  -->
<%- include('_partials/info'); -%>
<!-- end section info  -->
<!-- start section contact  -->
<%- include('_partials/contact'); -%>
<!-- end section contact  -->
  </main>
  <!-- @@content -->