<footer class="c-footer">  
<p class="c-backtotop"><a href="#" class="c-backtotop__link"><span class="c-backtotop__text">top</span></a></p>
  <div class="l-container l-container--w960">
    <div class="c-footer__main">
      <a href="/" class="c-footer__top"><img src="./assets/img/logoft.svg" alt="Matsuguchi" class="c-footer__logo">
        <p class="c-footer__slogan">松口内科・循環器内科クリニック</p>
      </a>
      <div class="c-footer__list">
        <div class="c-footer__menu">
          <ul class="c-footer__linkmenu">
            <li class="c-footer__link"><a class="c-footer__linkmain c-footer__linktop" href="#">TOP</a></li>            
            <li class="c-footer__link"><a class="c-footer__linkmain" href="#">お知らせ</a>
            </li>
            <li class="c-footer__link"><a class="c-footer__linkmain" href="#">当院について</a>
              <ul class="c-footer__childmenu">
                <li class="c-footer__linkchild">
                  <a href="#">医師・スタッフ紹介</a></li>
              </ul>
            </li>
            <li class="c-footer__link"><a class="c-footer__linkmain" href="#">診療について</a>
              <ul class="c-footer__childmenu">
                <li class="c-footer__linkchild"><a href="#">一般内科・循環器内科</a></li>
                <li class="c-footer__linkchild"><a href="#">禁煙外来</a></li>
                <li class="c-footer__linkchild"><a href="#">睡眠時無呼吸症候群</a></li>
                <li class="c-footer__linkchild"><a href="#">訪問診療</a></li>
              </ul></li>
            <li class="c-footer__link"><a class="c-footer__linkmain" href="#">交通アクセス</a></li>
          </ul>
        </div>
        <div class="c-footer__social">
          <ul class="c-footer__socialmedia">
            <li class="c-footer__itemsocial c-footer__instagram"><a href="https://www.instagram.com/" target="_blank">Instagram<i class="c-footer__icon c-footer__iconins"></i></a></li>
            <li class="c-footer__itemsocial c-footer__facebook"><a href="https://www.facebook.com/" target="_blank">facebook<i class="c-footer__icon c-footer__iconfb"></i></a></li>
            <li class="c-footer__itemsocial c-footer__line"><a href="https://line.me/" target="_blank">LINE<i class="c-footer__icon c-footer__iconline"></i></a></li>
          </ul>
        </div>
      </div>
      <div class="c-footer__copyright">Copyright© 2023 Matsuguchi-clinic All Rights Reserved</div>
    </div>
  </div>
</footer>