<section class="c-service">
    <div class="l-container l-container--w1200">
        <div class="c-service__main">
            <h2 class="c-title c-service__title">地域の皆様から信頼される医療を提供します。</h2>
            <div class="c-service__wrapimg">
                <picture>
                    <source media="(max-width:375px )" srcset="./assets/img/servicesp.jpg">
                    <img class="c-service__img" src="./assets/img/service.jpg" alt="地域の皆様から信頼される医療を提供します。">
                </picture>
            </div>
            <div class="l-container l-container--w960">
                <p class="c-service__desc">地域のかかりつけ医として患者様に寄り添う医療を提供します。<br>
                    循環器疾患をお持ちの患者さんの定期的な診療や循環器疾患の精査や専門医への受診を考えられている方いつでもご相談されてください。一般内科についてもプライマリケアの立場から適切な診療を心掛けており必要であれば各基幹病院の専門医へのご紹介を行っています。在宅訪問診療(外来通院が困難な方、末期がん、心不全などの在宅看取り)も行っております。
                </p>
                <div class="c-service__btns">
                    <a href="#" class="c-service__btn">当院について</a>
                    <a href="#" class="c-service__btn">医師・スタッフ紹介</a>
                </div>
            </div>
        </div>
    </div>
</section>